.container>section {
    margin: 40px 0;
}

.section-title {
    text-align: center;
}

.section-title h1 {
    margin-bottom: 10px;
}

.section-title h2 {
    font-size: 20px;
    margin-top: 0;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 50ms;
}

#page-intro {
    display: flex;
    flex-direction: row;
}

#page-intro img {
    width: 350px;
    margin: auto;
}

#featured-apps {
    width: 960px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 63% auto;
    column-gap: 13px;
}

.other-promo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 13px;
}

.promo {
    border-radius: 10px;
    background-color: rgb(155, 203, 246);
    padding: 5px 30px;
    position: relative;
    padding-bottom: 30px;
    color: white;
}

.promo-btn {
    position: absolute;
    bottom: 30px;
    color: white !important;
}

.other-promo .promo {
    padding: 4px 20px;
    padding-bottom: 10px;
    min-height: 183px;
}

.other-promo .promo-btn {
    bottom: 16px;
    background-color: none;
    border: 1px solid white;
    opacity: 0.85;
}

.other-promo .promo-btn:hover {
    opacity: 1;
    box-shadow: 0 0 0 1px white;
}

.other-promo h1 {
    margin-top: 15px;
    margin-bottom: 0;
}

.other-promo h2 {
    font-size: 16px;
    margin-right: 12px;
}

#graphing-calc-container h1 {
    font-size: 36px;
    margin-bottom: 0;
}

#graphing-calc-container h2 {
    font-size: 20px;
    width: 65%;
}

#graphing-calc-container {
    background-color: rgb(1, 40, 103);
}

#graph-calc-btn {
    background-color: rgb(47, 114, 220);
    border: 1px solid rgb(67, 128, 224);
}

#graph-calc-btn:hover {
    background-color: rgb(35, 88, 172);
}

#explore-geo-container {
    background-color: rgb(131, 29, 165);
}

#global-art-contest-container {
    background-color: rgb(185, 5, 104);
}

#orange-trophy-icon {
    position: absolute;
    height: 56px;
    right: 16px;
    top: -4px;
}

.classroom-container {
    width: 960px;
    display: flex;
    margin: auto;
    gap: 12px;
    color: #444;
}

.classroom-container>div {
    flex: 1;
}

.classroom-container__item {
    border: 1px solid gray;
    padding: 0 20px 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    position: relative;
    overflow: hidden;
}

.cc__info {
    width: 60%;
}

.classroom-container__item img {
    position: absolute;
    right: 0px;
}

.classroom-container__item h1 {
    font-size: 20px;
    margin-bottom: 0;
}

.classroom-container__item h2 {
    font-size: 16px;
}

.classroom-container__item .btn {
    color: #656565 !important;
    position: absolute;
    bottom: 15px;
    border: 1px solid gray;
}

.classroom-container__item .btn:hover {
    box-shadow: 0 0 0 1px #444;
    border-color: #444;
    color: #444 !important;
}